/*  Flat color palette downloaded from
 *  http://htmlcolorcodes.com/color-charts/
 *
 * Items states classes used to colour icons ...
 */

/* Teals */
.item_realm,
.turquoise { color: #1abc9c; }
.item_user,
.green-sea { color: #16a085; }

/* Greens */
.item_active,
.emerald { color: #2ecc71; }
.item_open,
.item_host_up,
.item_service_ok,
.item_livestate_up,
.item_livestate_ok,
.item_logcheckresult_up,
.item_logcheckresult_ok,
.nephritis { color: #27ae60; }

/* Blues */
.item_unknown,
.peter-river { color: #3498db; }
.item_host_unknown,
.item_service_unknown,
.item_livestate_unknown,
.item_logcheckresult_unknown,
.belize-hole { color: #2980b9; }

/* Purples */
.item_host_in_downtime,
.item_service_in_downtime,
.item_livestate_in_downtime,
.item_logcheckresult_in_downtime,
.item_historyCheckRequest,
.item_historyCheckRequested,
.item_historyAckAdd,
.item_historyAckProcessed,
.item_historyAckDelete,
.amethyst { color: #9b59b6; }
.item_historyDowntimeAdd,
.item_historyDowntimeProcessed,
.item_historyDowntimeDelete,
.wisteria { color: #8e44ad; }

/* Blacks */
.item_command,
.item_timeperiod,
.wet-asphalt { color: #34495e; }
.midnight-blue { color: #2c3e50; }

/* Yellows */
.sunflower,
.item_historyCheckResult
 { color: #f1c40f; }
.orange { color: #f39c12; }

/* Oranges */
.item_close,
.item_inactive,
.item_host_unreachable,
.item_livestate_unreachable,
.item_logcheckresult_unreachable,
.item_service_warning,
.item_livestate_warning,
.item_logcheckresult_warning,
.carrot { color: #e67e22; }
.pumpkin { color: #d35400; }

/* Reds */
.item_host_down,
.item_service_critical,
.item_livestate_down,
.item_livestate_critical,
.item_logcheckresult_down,
.item_logcheckresult_critical,
.alizarin { color: #e74c3c; }
.pomegranate { color: #c0392b; }

/* Whites */
.clouds { color: #ecf0f1; }
.silver { color: #bdc3c7; }

/* Grays */
.item_host_acknowledged,
.item_service_acknowledged,
.item_livestate_acknowledged,
.item_logcheckresult_acknowledged,
.concrete { color: #95a5a6; }
.asbestos { color: #7f8c8d; }

/*  Want more? Get the full flat color palette at
 *  http://htmlcolorcodes.com/color-charts/
 */