$base-color: #e0cb7a;

@import 'sencha-touch/default/all';

$include-default-icons: false;

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('nuclear');
@include pictos-iconmask('delete_black1');
@include pictos-iconmask('data');
@include pictos-iconmask('warning_black');
@include pictos-iconmask('check_black2');
@include pictos-iconmask('home');
@include pictos-iconmask('star');


.warn-badge .x-badge {
   background-color: #ffb100 !important;
    background-image:-webkit-gradient(
      linear,
      50% 0%,
      50% 100%,
      color-stop(0%, #ffb100),
      color-stop(50%, #e59f00),
      color-stop(51%, #e59f00),
      color-stop(100%, #ffb819)) !important;
   border-color: #bf8200 !important;
   color: #000 !important;
}

.ok-badge .x-badge {
   background-color: #00ff13 !important;
    background-image:-webkit-gradient(
      linear,
      50% 0%,
      50% 100%,
      color-stop(0%, #00ff13),
      color-stop(50%, #00e511),
      color-stop(51%, #00e511),
      color-stop(100%, #19ff2a)) !important;
   border-color: #009b0b !important;
   color: #000 !important;
}

.crit-badge .x-badge {
   color: #000 !important;
}
